*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px
}
body{
    font-weight: 500;
    overflow-x: hidden;
    background-color: #121212;
    position: relative;
    color: #fff;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    line-height: normal;
}
.btnC{
    padding: 10px 20px;
    border: 1px solid white !important;
    background-color: transparent;
    color: white;
}
.btnC:hover{
    background-color: white;

}